.second,
.third,
.four {
    display: inline-block;
    height: 100px;
    width: 200px;
}
.second {
   position: relative;
   left: 60px;
   top: 20px;
   background-color: red;
}
.third {
    position: relative;
    top: 30px;
    z-index: 2;
    left: 30px;
    background-color: green;
}
.four {
    top: 40px;
    position: relative;
    background-color: grey;
    z-index: 3;

}