* {
  font-family: "Oswald";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  margin-bottom: 60px;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.home_section_bg {
  position: relative;
  height: 100vh;
  background: url(../img/IMAGE.png) fixed;
  background-size: cover;
}

.header {
  position: fixed;
  background-color: rgba(19, 19, 22, 0.7);
  width: 100%;
  z-index: 1;
}

.container {
  width: 1170px;
  margin: auto;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 a {
  font-size: 30px;
  color: white;
  text-align: left;
}

.logo_subtext {
  font-size: 9px;
  letter-spacing: 6px;
}

.nav {
  display: flex;
}

.nav li {
  margin-left: 50px;
}

.nav li:first-child {
  margin-left: 0;
}

.nav_link {
  font-size: 17px;
  text-transform: uppercase;
  color: white;
}

.nav_link:hover {
  color: #ffe600;
  border-bottom: 3px solid white;
}

.slider {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top: 30px;
}

.slider_title {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-bottom: 30px;
}

.slider_btn {
  display: inline-block;
  background-color: #ffe600;
  padding: 10px 10px;
  margin-bottom: 60px;
}

.slider_btn a {
  font-size: 20px;
  font-weight: bold;
  color: #131316;
}

.slider_btn:hover {
  outline: 1px solid white;
}

.heading {
  text-align: center;
  margin-bottom: 60px;
}

.heading_title {
  font-size: 16px;
  font-weight: 400;
  color: #515151;
  margin-bottom: 25px;
}

.heading_subtitle {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 25px;
}

.heading_line {
  border: 1px solid #ffe600;
  width: 170px;
  margin: auto;
}

.heading_text {
  margin-top: 20px;
  font-size: 16px;
  color: #707070;
}

.service {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.service_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 25%;
  margin: 0 -10px;
}

.box_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background: #ffe600;
  border-radius: 50%;
}

.box_title {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.box_text {
  margin-top: 20px;
  font-size: 16px;
  color: #707070;
  padding: 0 10px;
}

.process_heading {
  text-align: center;
  padding: 60px 0;
}

.process_section_bg {
  position: relative;
  background: url(../img/IMAGE2.png) fixed;
  background-size: cover;
}

.wrap_bg {
  background-color: rgba(0, 0, 0, 0.7);
}

.process_title {
  font-size: 30px;
  font-weight: 700;
  color: white;
  margin-bottom: 25px;
}

.process_text {
  margin-top: 20px;
  font-size: 16px;
  color: white;
}

.process {
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;
}

.process_box {
  width: 16.666%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0 -10px;
  padding-bottom: 30px;
}

.process_box_img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.process_box_title {
  color: #ffffff;
  margin-top: 20px;
  font-size: 20px;
  font-weight: 700;
}

.process_box_text {
  margin-top: 20px;
  font-size: 16px;
  color: #ffffff;
  padding: 0 10px;
}
