<div class="content">
    <div class="title">
        <p>Meet the team</p>
    </div>
    <div class="card">       
        <div class="title_user-name">
            <p>Nibs<span>- Seo/Director</span></p>
        </div>
        <div class="title_user-img">
            <img src="./img/rabbit.jpg" alt="">
        </div>
        <div class="title_user-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatem ipsum ducimus facere minima saepe libero numquam impedit alias accusantium quaerat error quisquam eveniet labore maxime quo nobis, tempore iusto!</p>
        </div>
    </div>

    <div class="card">       
        <div class="title_user-name">
            <p>Nibs<span>- Seo/Director</span></p>
        </div>
        <div class="title_user-img">
            <img src="./img/rabbit.jpg" alt="">
        </div>
        <div class="title_user-text">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit voluptatem ipsum ducimus facere minima saepe libero numquam impedit alias accusantium quaerat error quisquam eveniet labore maxime quo nobis, tempore iusto!</p>
        </div>
    </div>

    
 </div>