.content {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
}
.title {
    color: green;
}
.card {
  display: inline-block;
  width: 40%;
  border: 1px solid;
}

.title_user-name {
  
}
span {
    color: green;
}
.title_user-text {

}
